<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <rewrite>
      <rules>
        <rule name="IndexHomeRule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="true" />
            <add input="{{REQUEST_URI}}" matchType="Pattern" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>