@{
    ViewData["Title"] = "Home Page";
}
<div ng-controller="quotesController">
    <h2>List of quotes</h2>
    <ul>
        <li ng-repeat="quote in quotes">
            <p>{{quote.id}} - {{quote.content}} - {{quote.author}}</p>
        </li>
    </ul>
</div>