@{
    ViewData["Title"] = "Home Page";
}

<br />
<div ng-controller="quotesController" style="text-align:center">
    <h2>List of quotes</h2>
    <p ng-repeat="quote in quotes">
        {{quote.id}} - {{quote.content}} - {{quote.author}}
    </p>
</div>